<?xml version="1.0" encoding="utf-8"?>
<odoo>
     <data>
          <record id="action_sync_to_steadfast" model="ir.actions.server">
               <field name="name">Sync To Steadfast</field>
               <field name="type">ir.actions.server</field>
               <field name="state">code</field>
               <field name="model_id" ref="sale.model_sale_order" />
               <field name="binding_model_id" ref="sale.model_sale_order" />
               <field name="binding_view_types">list</field>
               <field name="code">
                    records.delivey_button()
               </field>
          </record>
     </data>
</odoo>